{% extends 'clients/base.html' %}

{% block title %} Client details {% endblock %}

{% block content %}
    {% load static %}
    <h1 class="header">{{ client.first_name }} {{ client.last_name }}</h1>

    <div>
        {% if client.picture %}
            <img src="{{ client.picture.url }}"/>
        {% else %}
            <img src="{% static 'clients/no_photo.jpg' %}"/>
        {% endif %}
    </div>
    <div>{{ client.birth_date|date:"d.M.Y" }}</div>
    <div>{{ client.age }}</div>
    <div>
        <a href="{% url 'clients:delete_client' client.id %}">
            delete client
        </a>
    </div>
{% endblock %}
