{% extends 'clients/base.html' %}

{% block title %} List of clients {% endblock %}

{% block content %}
    {% load static %}
    <h1 class="header">Clients list</h1>

    <form id="sort_filter" method="get">
        <input type="text" name="first_name" value="{{ first_name }}">
        <input type="text" name="last_name" value="{{ last_name }}">
        <input type="submit" value="apply filter">
    </form>
    <table>
        <tr>
            <th>
                First name
                <button form="sort_filter" type="submit" name="order"
                        value="first_name">+
                </button>
                <button form="sort_filter" type="submit" name="order"
                        value="-first_name">-
                </button>
            </th>
            <th>
                Last name
                <button form="sort_filter" type="submit" name="order"
                        value="last_name">+
                </button>
                <button form="sort_filter" type="submit" name="order"
                        value="-last_name">-
                </button>
            </th>
            <th>
                Birth date
                <button form="sort_filter" type="submit" name="order"
                        value="birth_date">+
                </button>
                <button form="sort_filter" type="submit" name="order"
                        value="-birth_date">-
                </button>
            </th>
            <th>Age</th>
            <th>Photo</th>
        </tr>
        {% for client in clients %}
            <tr>
                <td>
                    <a href="{% url 'clients:client_detail' client.id %}">{{ client.first_name }}</a>
                </td>
                <td>
                    <a href="{% url 'clients:client_detail' client.id %}">{{ client.last_name }}</a>
                </td>
                <td>{{ client.birth_date|date:"d.M.Y" }}</td>
                <td>{{ client.age }}</td>
                <td>                    {% if client.picture %}
                    <img src="{{ client.picture.url }}"/>
                {% else %}
                    <img src="{% static 'clients/no_photo.jpg' %}"/>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <div>
       <a href="{% url 'clients:add_client' %}">
            add new client
        </a>
    </div>
    <div>
        <a href="{% url 'clients:download_client_list' %}">
            download client list    
        </a>
    </div>
{% endblock %}
