{% extends 'clients/base.html' %}

{% block title %} New client {% endblock %}

{% block content %}
    <h1 class="header">New client</h1>

    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Create client">
    </form>
{% endblock %}