{% extends 'clients/base.html' %}

{% block title %} Photo poll {% endblock %}

{% block content %}
<h1 class="header">Delete</h1>

<p>You are going to remove</p>
<div>{{ client.first_name }} {{ client.last_name }}</div>

<form method="post">
    {% csrf_token %}
    <input type="submit" value="delete">
</form>

<a href="{% url 'clients:client_list' %}">Back to list</a>
{% endblock %}
