{% extends 'clients/base.html' %}

{% block title %} Download {% endblock %}

{% block content %}

    <h1>List of clients in xlsx format</h1>

    <div>
        <span>Your results will be ready soon</span>
        <span>Try again later</span>
        <a href="{% url 'clients:download_client_list' %}?download_id={{ file_id }}">Check now</a>
    </div>
{% endblock %}
