{% extends 'clients/base.html' %}

{% block title %} Photo poll {% endblock %}

{% block content %}
    <h1 class="header">Like a photo</h1>

    <form id="like" method="post">
        {% csrf_token %}
    </form>
        {% for photo in photo_list %}
        <div>
            <img src="{{ photo.picture.url }}"/>
            <div>Likes:{{ photo.votes }}</div>
            {% if photo.votes < max_likes %}
            <button form="like" type="submit" name="vote" value="{{ photo.id }}">
                + 1
            </button>
            {% endif %}
        </div>
        {% endfor %}
{% endblock %}
